.banner{
  width:1024px;
  margin: auto;
}
.lslide{
  display: flex;
  justify-content:center;
}
.li:hover > .oknha{
  transform: scale(1.2);
}
.container .li{
  width:260px !important;
  height:260px !important;
  overflow: hidden;
}
